
li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}


footer {
  position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   height:130px;
   background-color :black;
 color: white;
 text-align: center;

}


.social-links {
	margin-top: 50px;
	font-size: 22px;
  
}

i {
  color: white;
}